111 DIALOGEX 0, 0, 493, 195
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Szukaj znajomych ..."
LANGUAGE LANG_POLISH, 0x1
FONT 8, "Tahoma", FW_DONTCARE, FALSE, 238
{
   CONTROL "Dane szukanej osoby", 203, BUTTON, BS_GROUPBOX | BS_CENTER | WS_CHILD | WS_VISIBLE, 4, 3, 147, 172 
   CONTROL "", 10, "ComboBoxEx32", 0x50010003, 53, 18, 90, 992 
   CONTROL "", 24, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 53, 124, 90, 985 
   CONTROL "", 23, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 53, 140, 90, 985 
   CONTROL "", 125, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 159, 10, 10 
   CONTROL "", 19, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 53, 49, 90, 12 
   CONTROL "Imiê:", 200, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 51, 16, 8 
   CONTROL "", 20, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 53, 64, 90, 12 
   CONTROL "Nazwisko:", 132, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 66, 32, 8 
   CONTROL "", 21, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 53, 79, 90, 12 
   CONTROL "Pseudonim:", 202, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 81, 36, 8 
   CONTROL "", 15, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 53, 94, 90, 12 
   CONTROL "Email/Tel:", 205, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 96, 31, 8 
   CONTROL "", 18, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 53, 109, 90, 12 
   CONTROL "Miasto:", 206, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 111, 22, 8 
   CONTROL "", 12, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 53, 34, 90, 12 
   CONTROL "Szukaj", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 423, 178, 65, 14 
   CONTROL "List1", 1000, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 155, 7, 334, 168 
   CONTROL "Dodaj", 6, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 375, 178, 45, 14 
   CONTROL "Zamknij", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3, 178, 50, 14 
   CONTROL "UID:", 207, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 36, 22, 8 
   CONTROL "Sieæ:", 208, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 20, 22, 8 
   CONTROL "ZnajdŸ tylko online:", 209, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 159, 66, 8 
}
